:root {
  --color-brand-first: rgba(249, 195, 125, 1);
  --color-brand-secondary: rgba(164, 132, 96, 1);
  --color-primary-dark: rgba(77, 77, 77, 1);
  --color-primary-light: rgba(255, 255, 255, 1);
  --color-primary-brown: rgba(70, 49, 30, 1);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
