.working-section {
  padding: 16px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 36px 0;
  }

  &__container {
    padding-top: 74px;
    padding-bottom: 36px;
    background-image: url("../images/working-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
      padding-top: 24px;
    }
  }

  /*@media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/working-image2x.jpg");
  }*/

  &__title {
    &::after {
      display: block;
      /*width: 130px;
  height: 2px;
  background-color: var(--color-brand-secondary);*/
      content: "---";
    }
  }

  &__text {
    max-width: 260px;
    color: var(--color-primary-light);

    @media screen and (min-width: $bp-tablet) {
      max-width: 400px;
    }
  }

  &__group-title {
    color: var(--color-brand-secondary);
    font-size: 28px;
    padding: 24px 100px;
    margin-bottom: 0;
  }

  &__box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  /*display: flex;
    justify-content: center;*/

  &__box-group {
    width: 100%;
    max-height: 300px;
    background-color: rgba(56, 45, 44, 1);

    &:nth-child(2) {
      background-color: rgba(95, 50, 39, 1);
    }

    &:nth-child(3) {
      background-color: rgba(123, 90, 47, 1);
    }

    &:nth-child(4) {
      background-color: rgba(151, 104, 85, 1);
    }

    @media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop) {
      aspect-ratio: 1 / 1;
      flex: 1 1 50%;
    }

    @media screen and (min-width: $bp-desktop) {
      aspect-ratio: 1 / 1;
      flex: 1 1 25%;
    }
  }

  &__box-containe {
    padding: 0 48px;

    @media screen and (min-width: $bp-desktop) {
      padding: 0 24px;
    }
  }

  &__box-title {
    color: var(--color-brand-first);
    font-weight: 580;
    font-size: 42px;
    text-align: right;
    margin: 0 auto;
    padding-bottom: 16px;
  }

  &__box-text {
    max-width: 280px;
    padding: 16px;
    font-size: 18px;
    color: var(--color-primary-light);
  }
}
